
$secondary-color: #0272E2;


header {
  color: $secondary-color !important;
  border-bottom: 4px solid $secondary-color;
}

Button:hover{
  cursor: auto;
}

a.active{
  background-color: $secondary-color; 
  padding: 5px;
  border-radius: 2px;
  color: white;
}
